# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip
*.sch-bak
*.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
BulkyModem Module/export/
BulkyModem Module Panel/export/
BulkyModem Module Panel B/export/
BulkyModem UserPort Adapter/export/
faceplates/BulkyModem FA1/export/
faceplates/BulkyModem FB1/export/
faceplates/BulkyModem FP1/export/
faceplates/BulkyModem FP2/export/
faceplates/BulkyModem FP3/export/
BulkyModem Terminal/export/
BulkyModem Terminal Panel/export/
faceplates/BulkyModem Terminal FA1/export/
faceplates/BulkyModem Terminal FP3/export/
BulkyModem-32 Mini/export/

